* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Work Sans', sans-serif;
}

p {
    color: #727272;
}

:root {
    --dark {
        color: #131313;
    }
}

.header {
    padding: 1.8rem 7rem;
    background-color: rgba(255, 144, 14, 0.10);
}

.container {
    width: 1280px;
    margin: 0 auto;
}


.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

ul {
    display: flex;
    align-items: center;
}

ul li a {
    padding: 0 21px;
    font-size: 1.2rem;
    font-weight: 500;
}


.banner {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0;
}

.banner h1 {
    color: var(--dark);
    margin-bottom: 20px;
    font-size: 45px;
}

.banner p {
    margin-bottom: 31px;
    margin: 0 auto;
    width: 80%;
    line-height: 22px;
}

.btn {
    background: #ff900e;
    padding: 16px 27px;
    margin: 20px 0;
    font-weight: 600;
    font-size: 17px;
    border-radius: 8px;
    color: white;
    display: inline-block;
}

/* .banner img {
    max-width: 700px;
} */

img {
    width: 100%;
}







.feature {
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feature-content {
    margin-left: 60px;
}

.feature-img {
    display: grid;
    grid-template-columns: repeat(2, 296px);
    /* width: 340px; */
    border-radius: 8px;
    gap: 20px;
}

.feature-content h3 {
    font-size: 40px;
    font-weight: 700;
    margin: 10px 0;
}

.feature-content p {
    line-height: 23px;
}

.feature-content .gray-color {
    color: #727272;
}

.feature-content .color-highlight {
    color: #FF900E;
}


/* experience start */
.experience {
    padding: 5rem;
    display: flex;
    justify-content: space-between;

}

.eContent {}

.eContent h2 {
    color: #131313;
    /* margin-left: 0px; */
    padding: 0px 6px;
    font-weight: 700;
    border-left: 6px solid #FF900E;
    font-size: 39px;
}

.eDescription {
    margin: 16px 0;
    width: 67%;
}

.card {
    width: 66%;
    border-radius: 8px;
    background: #FFF;
    margin-bottom: 1rem;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.card-content {
    padding: 23px;
}

.card h3 {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 20px;
}

.card p {}

.eImage img {}

.image-card {
    display: inline-block;
    color: white;
    padding: 29px 28px;
    text-align: center;
    position: relative;
    bottom: 79px;
    right: 73px;
    font-size: 24px;
    border-radius: 8px;
    background: #FF900E;
}

.image-card h3 {}








/* experience end */

/* award section */

.award {
    padding: 0 5rem;
}

.award-header {
    margin-bottom: 3rem;
    text-align: center;
}

.award-header h3 {
    font-weight: 700;
    font-size: 27px;
    margin-bottom: 12px;
}

.award-header p {}

.award-card {

    text-align: center;
    display: flex;
    justify-content: space-around;
}

.award-content img {
    width: 40px;
    margin-bottom: 11px;
}

.award-content {
    padding: 2rem 2rem;
    border-radius: 8px;
    border: 2px solid #FF900E;
}

.award-content h4 {
    margin-bottom: 9px;
    font-size: 29px;
    color: #424242;
}

.award-content p {
    font-weight: 650;
}

.sponser {
    margin-top: 6rem;
}

.sponser-logo {
    display: flex;
    justify-content: space-around;
}

.sponser-logo img {
    width: 100px;
}

footer {
    margin-top: 3rem;
    background: #FFF4E7;
}
footer > p {
    text-align: center;
    padding: 1.5rem;
}














/* ------------------MOBILE RESPONSIVE--------------------- */



@media screen and (max-width:576px) {
    .header-content {
        flex-direction: column;
    }

    .header {
        padding: 0 1rem;
    }

    .header-content {

        padding: 1.1rem 0rem;
    }

    ul li a {
        padding: 0px 15px;
        font-size: 18px;
        margin-top: 10px;
        display: inline-block;
    }

    .banner h1 {

        font-size: 33px;
    }

    .banner {
        width: 100%;
        padding: 21px 0;
    }

    .banner p {

        line-height: 25px;
        width: 87%;
    }

    .btn {

        padding: 11px 18px;
        margin: 17px;

        font-size: 15px;
        border-radius: 7px;

        display: inline-block;
    }


    .feature {
        flex-direction: column-reverse;
        padding: 1rem 1rem;
        text-align: center;
    }



    .feature-img {
        grid-template-columns: repeat(1, 352px);
    }

    .feature-content h3 {
        text-align: center;
        font-size: 30px;

        margin: 10px 0;
    }

    .feature-content {
        margin-left: 0px;
    }












    .experience {
        flex-direction: column;
        text-align: center;
        padding: 2rem;
    }

    .eDescription {
        margin: 16px 0;
        width: 100%;
        line-height: 21px;
    }

    .card {
        width: 100%;

    }

    .eContent h2 {
        font-size: 32px;
    }

    .card h3 {

        font-weight: 700;
        font-size: 19px;
    }

    .image-card {
        display: block;

        position: relative;
        bottom: 0px;
        right: 0;
        width: 85%;
        color: white;


    }

    .card-content {
        padding: 12px;
    }






    .award-card {
        flex-direction: column;
        row-gap: 1rem;
    }

    .award {
        padding: 0px 2rem;
    }

    .sponser-logo {
        flex-direction: column;
        row-gap: 1.3rem;
        align-items: center;
    }
}






/* ------------------------tablet responsive-------------------- */

@media screen and (min-width:576px) and (max-width:960px) {
    .header-content {
        flex-direction: column;
    }

    .banner {
        width: 100%;

        padding: 50px 0;
    }

    .banner p {
        line-height: 25px;

        width: 100%;
    }

    ul li a {
        padding: 0px 27px;
        margin-top: 17px;
        display: inline-block;
    }









    .feature {
        flex-direction: column-reverse;
        padding: 2rem;
        text-align: center;
    }

    .feature-content {
        margin-left: 0;
    }

    .feature-content p {
        margin: 0 auto;
        width: 80%;
    }

    .btn {
        background: #ff900e;
        padding: 13px 25px;

    }

















    .experience {
        flex-direction: column;
        text-align: center;

        padding: 4rem;
    }

    .eDescription {
        margin: 16px 0;
        padding: 0 15px;
        width: 100%;
    }

    .card {
        width: 100%;
    }

    .image-card {
        display: block;

        position: relative;
        bottom: 0px;
        right: 0;

    }







    .award-card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1.2rem;
    }
.sponser-logo img{
    margin: 0 auto;
}
 .sponser-logo {
    display: grid;
    row-gap: 1.2rem;
    grid-template-columns: repeat(3,1fr);
}


}